<div class="logo-container">
  <img src="logo2.png" alt="BookSmart logo" class="logo-img">
  <span class="logo-text">BOOKSMART</span>
</div>

<nav class="menu">

  <div class="menu-section">
    <a
      class="menu-item"
      routerLink="home"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
      Inicio
    </a>
  </div>

  <div class="menu-section">

    <a class="menu-item" routerLink="book-appointments" routerLinkActive="active">
      Reservar citas
    </a>

    <a class="menu-item" routerLink="clients/directory" routerLinkActive="active">
      Directorio
    </a>
  </div>

  <div class="menu-section">

<!--
    <a class="menu-item" routerLink="business/approve-appointments" routerLinkActive="active">
      Aprobar citas
    </a>
-->

<!--
    <a class="menu-item" routerLink="business/calendars" routerLinkActive="active">
      Calendarios
    </a>
-->

<!--
    <a class="menu-item" routerLink="business/technicians" routerLinkActive="active">
      Técnicos
    </a>
-->

    <a class="menu-item" routerLink="business/services" routerLinkActive="active">
      Servicios
    </a>

  </div>

  <div class="menu-section">

    <a class="menu-item" routerLink="admin/plans" routerLinkActive="active">
      Planes
    </a>
    
<!--
    <a class="menu-item" routerLink="admin/analytics" routerLinkActive="active">
      Analíticas
    </a>
-->

    <a class="menu-item" routerLink="admin/reports" routerLinkActive="active">
      Reportes
    </a>

    <a class="menu-item" routerLink="admin/users" routerLinkActive="active">
      Usuarios
    </a>
  </div>

</nav>