<div class="modal-overlay">

  <div class="modal-card">

    <h2>Crear establecimiento</h2>

    <form (ngSubmit)="createEstablishment()">

      <h3>Datos del establecimiento</h3>

      <input type="text" placeholder="Nombre"
        [(ngModel)]="establishment.nombre" name="nombre" required>

      <input type="text" placeholder="Descripción"
        [(ngModel)]="establishment.descripcion" name="descripcion">

      <input type="text" placeholder="Dirección"
        [(ngModel)]="establishment.direccion" name="direccion">

      <input type="number" placeholder="Latitud"
        [(ngModel)]="establishment.latitud" name="latitud">

      <input type="number" placeholder="Longitud"
        [(ngModel)]="establishment.longitud" name="longitud">

      <input type="text" placeholder="Teléfono"
        [(ngModel)]="establishment.telefono" name="telefono">

      <input type="number" placeholder="Usuario ID"
        [(ngModel)]="establishment.usuario_id" name="usuario_id" required>



      <h3>Datos del perfil</h3>

      <input type="text" placeholder="Descripción pública"
        [(ngModel)]="profile.descripcion_publica"
        name="descripcion_publica">

      <input type="text" placeholder="Logo (URL)"
        [(ngModel)]="profile.imagen_logo"
        name="imagen_logo">

      <input type="text" placeholder="Imagen portada (URL)"
        [(ngModel)]="profile.imagen_portada"
        name="imagen_portada">



      <h3>Horario del negocio</h3>

      <select [(ngModel)]="agenda.dia_semana" name="dia_semana">

        <option value="">Seleccionar día</option>
        <option>LUNES</option>
        <option>MARTES</option>
        <option>MIERCOLES</option>
        <option>JUEVES</option>
        <option>VIERNES</option>
        <option>SABADO</option>
        <option>DOMINGO</option>

      </select>

      <input type="time"
        [(ngModel)]="agenda.hora_inicio"
        name="hora_inicio">

      <input type="time"
        [(ngModel)]="agenda.hora_fin"
        name="hora_fin">



      <div class="buttons">

        <button type="submit" class="save-btn">
          Crear
        </button>

        <button type="button"
          class="cancel-btn"
          (click)="closeModal()">
          Cancelar
        </button>

      </div>

    </form>

  </div>

</div>