<div class="modal-backdrop" (click)="closeModal()">

  <div class="modal" (click)="$event.stopPropagation()">

    <h2>Eliminar Usuario</h2>

    <p class="message">
      ¿Seguro que deseas eliminar este dueño?
    </p>

    <div class="buttons">

      <button 
        class="delete-btn"
        [disabled]="loading"
        (click)="deleteUser()">
        Eliminar
      </button>

      <button 
        class="cancel-btn"
        (click)="closeModal()">
        Cancelar
      </button>

    </div>

  </div>

</div>

<div class="success-card" *ngIf="showSuccessCard">
  Usuario eliminado correctamente
</div>