<div class="modal-backdrop" (click)="closeModal()">

  <div class="modal" (click)="$event.stopPropagation()">

    <h2>Crear Dueño</h2>

    <form (ngSubmit)="createUser()">

      <div class="form-group">
        <label>Nombre</label>
        <input type="text"
               [(ngModel)]="user.nombre"
               name="nombre"
               required>
      </div>

      <div class="form-group">
        <label>Apellido</label>
        <input type="text"
               [(ngModel)]="user.apellido"
               name="apellido"
               required>
      </div>

      <div class="form-group">
        <label>Correo</label>
        <input type="email"
               [(ngModel)]="user.correo"
               name="correo"
               required>
      </div>

      <div class="form-group">
        <label>Contraseña</label>
        <input type="password"
               [(ngModel)]="user.contrasena"
               name="contrasena"
               required>
      </div>

      <div class="buttons">

        <button type="submit" class="save-btn">
          Guardar
        </button>

        <button type="button"
                class="cancel-btn"
                (click)="closeModal()">
          Cancelar
        </button>

      </div>

    </form>

  </div>

</div>