<div class="success-card" *ngIf="showSuccessCard">
  Usuario actualizado correctamente
</div>

<div class="modal-backdrop" (click)="closeModal()">

  <div class="modal" (click)="$event.stopPropagation()">

    <h2>Editar Dueño</h2>

    <label>Nombre</label>
    <input type="text" [(ngModel)]="user.nombre">

    <label>Apellido</label>
    <input type="text" [(ngModel)]="user.apellido">

    <label>Correo</label>
    <input type="email" [(ngModel)]="user.correo">

    <label>Activo</label>
    <select [(ngModel)]="user.activo">
      <option [value]="true">Activo</option>
      <option [value]="false">Inactivo</option>
    </select>

    <div class="buttons">

      <button class="save-btn"
              (click)="updateUser()">
        Guardar
      </button>

      <button class="cancel-btn"
              (click)="closeModal()">
        Cancelar
      </button>

    </div>

  </div>

</div>