<div class="modal" (click)="closeModal()">

  <div class="modal-content" (click)="$event.stopPropagation()">

    <div class="success-card" *ngIf="showSuccessCard">
      Establecimiento actualizado correctamente
    </div>

    <h2>Editar Establecimiento</h2>

    <div class="grid">

      <div class="column">

        <h3>Datos</h3>

        <input [(ngModel)]="establishment.nombre" placeholder="Nombre">
        <input [(ngModel)]="establishment.descripcion" placeholder="Descripción">
        <input [(ngModel)]="establishment.direccion" placeholder="Dirección">
        <input [(ngModel)]="establishment.telefono" placeholder="Teléfono">

        <select [(ngModel)]="establishment.usuario_id">
          <option *ngFor="let user of users" [value]="user.usuario_id">
            {{ user.nombre }} {{ user.apellido }}
          </option>
        </select>

        <h3>Estado</h3>

        <div class="toggle">
          <span [class.active]="establishment.activo">Activo</span>

          <label class="switch">
            <input type="checkbox" [(ngModel)]="establishment.activo">
            <span class="slider"></span>
          </label>

          <span [class.inactive]="!establishment.activo">Inactivo</span>
        </div>

        <h3>Horarios</h3>

        <div *ngFor="let a of agendas; let i = index" class="agenda-block">

          <select [(ngModel)]="a.dia_semana">
            <option>LUNES</option>
            <option>MARTES</option>
            <option>MIERCOLES</option>
            <option>JUEVES</option>
            <option>VIERNES</option>
            <option>SABADO</option>
            <option>DOMINGO</option>
          </select>

          <input type="time" [(ngModel)]="a.hora_inicio">
          <input type="time" [(ngModel)]="a.hora_fin">

          <button (click)="removeAgenda(i)">🗑</button>

        </div>

        <button class="add-day-btn" (click)="addAgenda()">
          + Agregar día
        </button>

      </div>

      <div class="column">

        <h3>Perfil</h3>
        <input [(ngModel)]="profile.descripcion_publica" placeholder="Descripción pública">

        <h3>Imágenes</h3>

        <input type="file" (change)="onFileSelected($event,'logo')">
        <img *ngIf="logoPreview || profile.imagen_logo"
             [src]="logoPreview || profile.imagen_logo"
             class="image-preview">

        <input type="file" (change)="onFileSelected($event,'portada')">
        <img *ngIf="portadaPreview || profile.imagen_portada"
             [src]="portadaPreview || profile.imagen_portada"
             class="image-preview">

      </div>

    </div>

    <div class="buttons">
      <button class="save-btn" (click)="updateEstablishment()">Guardar</button>
      <button class="cancel-btn" (click)="closeModal()">Cancelar</button>
    </div>

  </div>

</div>